//брэкпоинты
$tel: 375;
$phone: 600;
$tablet: 768;
$tablet-2: 992;
$desktop: 1230;

$white: #ffffff;
$black-222: #222222;
$light-green:#F3FBF8;
$gray: #c2c2c2;
$green: #09A66D;

%dmsans {
  font-family: 'DMSans', sans-serif;
}

%rosario {
  font-family: 'Rosario', sans-serif;
}